{% extends 'base.html' %}
{% block title %}{{name}} recipes{% endblock %}
{% block logo %}
    <img src="../../static/images/logo.png" alt="logo" class="mob-nav-elem">
{% endblock %}
{% block logo2 %}
    <img src="../../static/images/logo.png" alt="logo" class="mob-nav-elem">
{% endblock %}
{% block content %}
<main>
    <section id="banner">
        <div class="filter"></div>
        <h1>{{name}} Cuisines</h1>
        <p>Home > cuisines > <span class="cuisinetype"></span> cuisine > <span class="foodrecipetitle"></span> recipe</p>
    </section>
    <section id="recipe-dets">
        <h1>loading...</h1>
    </section>
</main>
{% endblock %}
{% block footer %}
<footer>
    <div class="images">
        <div class="box box1">
            <div class="shadow"></div>
            <img src="../../static/images/food1.jpg" alt="food">
        </div>
        <div class="box box2">
            <div class="shadow"></div>
            <img src="../../static/images/food2.jpg" alt="food">
        </div>
        <div class="box box3">
            <div class="shadow"></div>
            <img src="../../static/images/food3.jpg" alt="food">
        </div>
        <div class="box box4">
            <div class="shadow"></div>
            <img src="../../static/images/food4.jpg" alt="food">
        </div>
        <div class="box box5">
            <div class="shadow"></div>
            <img src="../../static/images/food5.jpg" alt="food">
        </div>
        <div class="box box6">
            <div class="shadow"></div>
            <img src="../../static/images/food6.jpg" alt="food">
        </div>
    </div>
    <div class="bottom">
        <img src="../../static/images/logo2.png" alt="logo2" class="logo2">
        <div class="main">
            <div class="about outer-col">
                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel harum nesciunt accusantium ex quae sit quidem vero voluptate impedit unde.
                </p>
                <ul class="icons">   
                    <li>
                        <div class="fb">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>    
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="pinterest">
                            <a href="#">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="google">
                            <a href="#">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="twitter">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="links outer-col">
                <h2>Quick links</h2>
                <ul>
                    <li><a href="#">Latest New</a></li>
                    <li><a href="#">Recipes</a></li>
                    <li><a href="#">Our Products</a></li>
                    <li><a href="#">Our Authors</a></li>
                    <li><a href="#">Recipe Details</a></li>
                </ul>
            </div>
            <div class="recipes outer-col">
                <h2>Recent Recipe</h2>
                <div class="recipe">
                    <div class="col1">
                        <img src="../../static/images/food7.jpg" alt="food7">
                    </div>
                    <a href="#">
                        <div class="col2">
                            <h3>Recipe</h3>
                            <p>Traditional Mexican Wedding Cookies</p>
                        </div>
                    </a>
                </div>
                <div class="recipe">
                    <div class="col1">
                        <img src="../../static/images/food8.jpg" alt="food7">
                    </div>
                    <a href="#">
                        <div class="col2">
                            <h3>Recipe</h3>
                            <p>Spaghetti with Zucchini and Garlic</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr color="gray">
        <div class="copyright">
            <p>
                Copyright © 2020 <a href="#">Andromedathemes</a> All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
{% endblock %}